{{define "title"}}Scatter Chart{{end}}

{{define "body"}}


<div id="test1" class="dc-chart"></div>

<link rel="stylesheet" type="text/css" href="./css/dc.css">
<script type="text/javascript" src="./scripts/d3.js"></script>
<script type="text/javascript" src="./scripts/crossfilter.js"></script>
<script type="text/javascript" src="./scripts/dc.js"></script>

<script type="text/javascript">

var chart = dc.scatterPlot("#test1");

d3.json("test.json", function(error, jsondata) {

  var ndx = crossfilter(jsondata),
      dim1 = ndx.dimension(function (d) {

          return [d.Operation, d.Duration];
      }),

      group1 = dim1.group();

  chart.width(1200)
      .height(500)
      .x(d3.scale.linear().domain([7090, 7230]))
      .yAxisLabel("Duration")
      .xAxisLabel("Operation")
      .clipPadding(10)
      .dimension(dim1)
      .excludedOpacity(0.5)
      .group(group1);

  dc.renderAll();

});

</script>
{{end}}
